.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in 0.2s;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}

.menuContainer {
  max-width: 400px;
  height: 100vh;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: -10px 20px 54px rgba(0, 0, 0, 0.25);
  background: var(--color-menuBackground);
  font-family: "DIN Condensed Bold";
  color: var(--color-text);
  position: absolute;
  top: 0;
  right: -480px;
  transition: right 0.4s ease-in;

  .visible & {
    right: 0;
    transition-delay: 0.2s;
  }
}

.closeButton {
  position: absolute;
  top: 4rem;
  right: calc(100% + 2.4rem);

  svg {
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  }
}

.menuContent {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 8rem;
}

.menuTitle {
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-menuHeaderText);
  margin: 0;
  padding: 0.6rem 3rem 0;
  background: var(--color-menuHeader);

  &.header {
    padding-top: 2rem;
    border-top-left-radius: 3rem;
  }
}
