.menuItem {
  border-bottom: 2px solid var(--color-menuBorder);
  text-align: left;
}

.innerItem {
  composes: menuButton from "../MainMenuButton/MainMenuButton.module.scss";
  border-bottom: none;
  padding: 1rem 6rem;
}
