.layoutContainer {
  box-sizing: border-box;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  padding: 6rem calc(5rem + 40px + 5rem) 16rem 5rem; // NOTE: calc is width of hamburger plus left spacing plus standard 50
}

.menuIcon {
  position: fixed;
  top: 5rem;
  right: 5rem;
  font-size: 3rem;
}
