.switchContainer {
  display: block;
  width: 55px;
  height: 28px;
  border-radius: 180px;
  background: #454545; // dark mode
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover {
    opacity: 0.8;
  }

  &.isOn {
    background: #6b9e59; // dark mode
  }
}

.switchHead {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff; // dark mode
  position: absolute;
  top: 5px;
  left: 5px;
  transition: all 0.2s ease-in;

  .isOn & {
    left: 32px;
  }
}
