.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background: var(--color-menuBackground);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 1.8rem 2rem;
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.8rem;
  line-height: 1.33;
  font-weight: bold;
  margin: 0;
  flex: 1; // this and .menuButton should be the same size so chapterTitle can be centered

  span {
    display: block;
    font-size: 1.4rem;
    font-weight: normal;
    font-style: italic;
  }
}

.chapterTitle {
  margin: 0;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  flex: 2;
}

.menuButton {
  position: relative;
  z-index: 99;
  padding-right: 3rem;
  flex: 1; // this and .title should be the same size so chapterTitle can be centered
  text-align: right;
}

.menuIcon {
  font-size: 3rem;
}
