.galleryContainer {
  margin: 3rem 8rem;
}

.slideContainer {
  position: relative;

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
  }
}

.animationContainer {
  display: flex;
  justify-content: center;
  padding-bottom: calc(56.25% + 67px); // px is the height of 3 caption lines
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
}

.mediaContainer {
  padding-bottom: 56.25%;
  height: 0;
  position: relative;
}

.media {
  position: absolute;
  width: 100%;
  height: 100%;

  > div,
  iframe {
    width: 100%;
    height: 100%;
  }
}

.flexMedia {
  display: flex;
  align-items: center;
  justify-content: center;

  img,
  .imageButton {
    height: 100%;
  }
}

.leftButt {
  left: -5rem;
}

.rightButt {
  right: -5rem;
}

.thumbnailContainer {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 3.2rem;

  button,
  img {
    height: 100%;
  }
}
