.galleryContainer {
  margin: 3rem 8rem;
}

.slideContainer {
  position: relative;

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
  }
}

.animationContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;

  img,
  iframe,
  > div {
    height: 100%;
  }

  iframe {
    width: 100%;
  }
}

.flexSlide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftButt {
  left: -5rem;
}

.rightButt {
  right: -5rem;
}

.thumbnailContainer {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 5rem;

  button,
  img {
    height: 100%;
  }
}
