.part {
  font-family: "DIN Condensed Bold";
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.titleButton {
  border-bottom: none;

  svg {
    flex: 0 0 auto;
  }
}

.titleText {
  padding-right: 7rem;
}

.partContent {
  overflow: hidden;
}
