.playerButton {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
  font-size: 2.2rem;
  line-height: 1.45;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  color: var(--color-text);
  cursor: pointer;
}

.playerButtonContainer {
  .tooltip {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    line-height: 1.21;
    border-radius: 10px;

    .title {
      font-style: italic;
    }
  }

  .tooltipArrow {
    // width: 22px;
    // height: 22px;
    // bottom: -22px !important;
    // border-top-width: 22px !important;
  }
}
