:root {
  background: #262626;
  color: #fff;
  --color-text: #fff;
  --color-background: #262626;
  --color-buttonBackground: #000;
  --color-buttonBackgroundAlt: #262626;
  --color-menuBackground: #000;
  --color-menuBorder: #666;
  --color-menuHeader: #4d4d4d;
  --color-menuHeaderText: #fff;
  --color-toggleBackground: #6b9e59;
  --color-toggleHead: #000;
}
