:root {
  --color-text: #454545;
  --color-background: #e5e5e5;
  --color-buttonBackground: #454545;
  --color-buttonBackgroundAlt: #fcfcfc;
  --color-menuBackground: #fff;
  --color-menuBorder: #454545;
  --color-menuHeader: #454545;
  --color-menuHeaderText: #fff;
  --color-toggleBackground: #454545;
  --color-toggleHead: #fff;
  --color-expandedBackground: #e7e7e7;
}
