html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:has(.playerModal) {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* chapter titles */
h3 {
  font-family: "DIN Condensed Bold";
  font-size: 4.4rem;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

/* sub-chapter titles, from within markdown files */
h4 {
  font-family: "DIN Condensed Bold";
  font-size: 4.4rem;
  line-height: 1.2;
  text-align: center;
  margin: 9rem 0 6rem;
}

p {
  font-family: Georgia, serif;
  font-size: 2.2rem;
  line-height: 1.45;
  margin: 0 0 3rem;
}

a {
  color: var(--color-text);
}

a:not(:has(sup)) {
  font-style: italic;
  font-weight: bold;
}

a:has(sup) {
  text-decoration: none;
}

svg {
  font-size: 2.2rem;
}

blockquote {
  padding-inline-start: 7.5rem;
  margin-inline-start: 4rem;
  margin-inline-end: 9rem;
}

blockquote,
blockquote p {
  font-family: "DIN Condensed Bold";
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: bold;
  position: relative;
  color: #000;
}

blockquote:before {
  position: absolute;
  left: 0;
  top: 0;
  content: url("/public/quote.svg");
}

blockquote.music:before {
  content: url("/public/music.svg");
}

/* footnotes */
footer {
  margin-block: 10rem;
  opacity: 0.6;
}

footer p {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  font-style: italic;
}

footer p sup {
  font-size: 1rem;
  padding-right: 0.35rem;
}

@font-face {
  font-family: "DIN Condensed Bold";
  src: local("DIN Condensed Bold"),
    url("./fonts/DIN Condensed Bold.ttf") format("truetype");
  font-weight: bold;
}
