.buttonSecondary {
  composes: primaryButton from "../ButtonPrimary/ButtonPrimary.module.scss";
  font-family: "DIN Condensed Bold";
  color: var(--color-text);
  padding-top: 1.8rem;
  padding-bottom: 1.2rem;
  border: 1px solid var(--color-text);
  background: var(--color-buttonBackgroundAlt);
}

.wideButton {
  width: 500px;
}
