.layoutContainer {
  box-sizing: border-box;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  padding: 60px 50px;
  background: #262626;
  font-family: "Playfair Display", serif;
  color: #fff;
}
