.layoutContainer {
  box-sizing: border-box;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  padding: 60px 50px;
  background: #262626;
  color: #fff;
}

.menuIcon {
  position: fixed;
  top: 30px;
  right: 20px;
  font-size: 3rem;
}
